* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #148d79;
  color: #fff;
  font-family: Arial;
}
.card {
  width: 300px;
  border: 1px solid #e4cf12;
  padding: 5px;
  margin: 20px auto;
  text-align: center;
}
img {
  width: 100%;
}
h3 {
  text-align: center;
  margin-top: 10px;
}
p {
  text-align: left;
  margin-top: 20px;
}
span {
  text-align: right;
  display: block;
  margin-top: 10px;
}
button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #167958;
  background-color: #167958;
  color: #e4cf12;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: #148d79;
  border: 1px solid #e4cf12;
}